In [9]:
import pandas as pd
import numpy as np

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

D_front = pd.read_csv('50_Startups.csv')
D_front.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [10]:
transformer_list = [
     ('encoded', OneHotEncoder(dtype='int'), [3]),
     ('skip', 'passthrough', ["R&D Spend", "Administration", "Marketing Spend", "Profit"])
]

coltran = ColumnTransformer(transformer_list)
tran = coltran.fit_transform(D_front)

D_front = pd.DataFrame(tran, columns=coltran.get_feature_names())
D_front.head()

c:\Users\ASUS\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,encoded__x0_California,encoded__x0_Florida,encoded__x0_New York,R&D Spend,Administration,Marketing Spend,Profit
0,0.0,0.0,1.0,165349.20,136897.80,471784.10,192261.83
1,1.0,0.0,0.0,162597.70,151377.59,443898.53,191792.06
2,0.0,1.0,0.0,153441.51,101145.55,407934.54,191050.39
3,0.0,0.0,1.0,144372.41,118671.85,383199.62,182901.99
4,0.0,1.0,0.0,142107.34,91391.77,366168.42,166187.94

In [12]:
i = D_front.iloc[:, :-1].values
x = D_front.iloc[:, 6].values

x = x.reshape(len(x), 1)
x.shape

(50, 1)

In [13]:
Xm_train, Xm_test, ym_train, ym_test = train_test_split(i, x, test_size=0.2, random_state=50)

mlr = LinearRegression()
mlr.fit(Xm_train, ym_train)

ym_pred = mlr.predict(Xm_test)
result = np.concatenate((ym_test, ym_pred), axis=1)
result

array([[ 96712.8       ,  84457.16115252],
       [ 90708.19      ,  72543.44544734],
       [191792.06      , 186070.97934498],
       [ 81229.06      ,  67431.79651296],
       [152211.77      , 150237.4771915 ],
       [126992.93      , 113635.43439889],
       [ 96479.51      ,  88703.00224459],
       [134307.35      , 124781.17620402],
       [101004.64      , 101217.77951759],
       [108552.04      , 113863.68825244]])

In [14]:
r2_mlr = r2_score(ym_test, ym_pred)
print(r2_mlr)

0.897134285307714